.individualExperience {
    border: 1px solid #252736;
    border-radius: 12px;
    width: 100%;
    background-color: var(--secondaryBackgroundColor);
    /* opacity: 0.8; */
    display: flex;
    flex-direction: column;
    margin: 3rem 0rem;
    box-sizing: border-box;
    padding: 1rem 2rem;
}

/* .individualExperience:hover {
    opacity: 1;
} */

.individualExperienceHeading {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.individualExperienceTitleandDate {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
}

.individualExperienceTitle {
    color: var(--headlineColor);
    margin-bottom: 0rem;
    margin-top: 0rem;
}

.individualExperienceDate {
    color: var(--textColor);
    margin: 0;
}

.individualExperienceLogo {
    width: 20%;
    display: flex;
    align-items: center;
}

.individualExperienceLogo img {
    width: 60%;
}

.experienceBody {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--textColor);
}

.bulletPoints {
    margin: 0;
}

/* .experienceBodyLogo {
    width: 20%;
    display: flex;
    flex-direction: column;
} */

@media only screen and (min-width: 600px) {
    .individualExperience {
        margin: 1rem;
        width: 90%;
    }
}
/* 
@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1450px) {
}

@media only screen and (min-width: 1800px) {
} */
